.ModalBox{
    width: 400px;
    height: auto;
    min-height: 150px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 20%;
    left: calc(50% - 200px);
    padding: 10px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ModalBox h1{
    width: 100%;
    height:  50px; 
    line-height: 50px;
    font-weight: 600;  
}
.ModalBox input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px ;
}
.ModalBox button{
    width: 40%;
    height: 30px;
    background-color: rgb(238, 235, 62);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.ModalBox  button:hover{
    background-color: rgb(156, 177, 36);
}
.echo{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(137, 137, 137);
    opacity: .3;
}